#shelf
  %h2
    pin
  %ul#markers
  
  %h3
    categories
  %ul#categories
    - PoiCategory.all.each do |cat|
      %li
        = link_to cat.name, '#', :class => 'cat', :rel => cat.name

  #admin
    %h3
      jump to
    %form.where
      = text_field_tag "place", ""
    %h3
      download
    %p
      = link_to "plist", pois_url(:format => :xml)
      \|
      = link_to "images", pois_url(:format => :zip)