#map_canvas
#poi_list
= render :partial => 'shelf'
#overlay
#welcome
  %h1
    pin
  %form.where
    %p
      %label
        Where shall
        %br
        we start?
      %input{:type => "text", :name => "where"}
